

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url(../img/xingxi.jpg);
  }
  
  header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 32px;
  }
  
  h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  ul {
    padding-left: 20px;
  }
  
  section {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: url(../img/xingkong.jpg);
    color:#fff;
  }
  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    text-decoration: none;
    color: #ffffff;
    background-color: #003366;
    padding: 10px 20px;
    border-radius: 5px;
  }