body {
	background-color: #1a1a1a;
	background-image:url('../img/xingkong.jpg');
	background-size: cover;
	background-position: center;
	background-attachment:fixed;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 36px;
	margin: 50px 0 30px;
	text-align: center;
	text-transform: uppercase;
}
h2 {
	font-size: 24px;
	margin: 50px 0 20px;
	text-transform: uppercase;
}
p {
	margin: 0 0 20px;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px;
}
.book {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -10px;
}
.book-item {
	background-color: #333;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	flex-basis: calc(33.33% - 20px);
	margin: 0 10px 20px;
	padding: 20px;
}
.book-title {
	font-size: 20px;
	margin: 0 0 10px;
}
.book-author {
	font-size: 16px;
	margin: 0 0 5px;
}
.book-description {
	font-size: 14px;
	line-height: 1.2;
	margin: 0;
}
.technology {
	background-color: #333;
	background-image: url(../img/xingxi.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	margin: 50px 0;
	padding: 50px;
	text-align: center;
}
.technology-title {
	font-size: 24px;
	margin: 0 0 30px;
	text-transform: uppercase;
}
.technology-description {
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
}
.technology-image {
	max-width: 100%;
	margin: 50px 0;
}
a{
	color:#ffff;
	text-decoration: none;
}
